---
layout: default

---
<section id="cover" style="background-image: url({{- site.data.config.backgrounds.home_page_cover | relative_url -}});">
    {% include home/cover.html %}
</section> 

<section id="service">
    {% include home/service.html %}
</section>  

<section id="subscribe-mail" style="background-image: url({{- site.data.config.backgrounds.home_section_3 | relative_url -}})">
    {% include home/subscribe-mail.html %}
</section>

<section id="contact">
    {% include home/contact.html %}
</section> 