---
layout: default

---
<section id="cover" style="background-image: url({{ site.data.site.home-page-cover-bg }});">
    {% include home/cover.html %}
</section>

<section id="booth">
    {% include home/booth.html %}
</section> 

<section id="subscribe-mail" style="background-image: url({{ site.data.site.home-section3-bg }})">
    {% include home/subscribe-mail.html %}
</section>

<section id="service">
    {% include home/service.html %}
</section>


<section id="contact">
    {% include home/contact.html %}
</section>
