<div class="container">
    <h1>CLASSIC ON OFFER SAMPLE TEXT</h1>

    <div class="row">

        <div class="col-md-8">
            <img src="https://via.placeholder.com/800x600.png?text=01" class="img-responsive" alt="Responsive image">
        </div>

        <div class="col-md-4">
            <div class="col-xs-2 col-md-6">
                <a href="#" class="thumbnail">
                    <img src="https://via.placeholder.com/150?text=01" alt="...">
                </a>
            </div>
            <div class="col-xs-2 col-md-6">
                <a href="#" class="thumbnail">
                    <img src="https://via.placeholder.com/150?text=02" alt="...">
                </a>
            </div>
        </div>
        
    </div>

</div>
