<div class="modal fade form-modals" id="pageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="container">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title text-center">{{- site.data.site.contact_form_title -}}</h3>
                </div>
                <div class="modal-body">
                    <div class="form-container clearfix">

                        <form method="POST" action="https://fp1.formmail.com/cgi-bin/fm192">
                            <div class="form-group form-left col-md-6 clearfix">

                                <div class="col-xs-12 no-gutter">
                                    <input type="text" class="form-control form-input" id="sender-name" name="realname"  placeholder="Name" required>
                                </div>

                                <div class="col-xs-12 no-gutter">
                                    <input type="email" class="form-control form-input" id="sender-email" name="email"  placeholder="Email Address" required>
                                </div>

                                <div class="col-xs-12 no-gutter">
                                    <input type="number" class="form-control form-input" id="sender-number" name="sender-number"  placeholder="Telephone/Mobile Number">
                                </div>

                                <div class="col-xs-12 no-gutter">
                                    <input type="text" class="form-control form-input" id="sender-best-time-contact" name="sender-best-time-contact"  placeholder="Best time to contact you">
                                </div>

                                <div class="col-xs-12 no-gutter">
                                    <label for="sender-text-selection">Okay to Text?</label>
                                    <select class="form-control form-input" id="sender-text-selection">
                                        <option>Yes</option>
                                        <option>No</option>
                                    </select>
                                </div>

                                <div class="col-xs-12 no-gutter">
                                    <label for="sender-email-list-selection">Add me to the classicalfas.com email list!</label>
                                    <select class="form-control form-input" id="sender-email-list-selection">
                                        <option>Yes</option>
                                        <option>No</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group form-right col-md-6 clearfix">
                                <textarea class="text-area form-control" placeholder="Questions/Comments" id="sender-message" name="sender-message"  type="text" value="" rows="15" required></textarea>

                                <div class="form-description">
                                    <p class="description">Thank you for contacting Classic Alfas. If you do not hear from us soon, please call/text to make sure we received your info.</p>
                                    <p class="description">
                                        <span class="contact-form-icon fa fa-phone"></span>
                                        <span class="contact-form-info-text">{{- site.data.site.phone -}}</span>
                                        <span class="contact-form-info-text">Call or text Pacific Standard Time</span>
                                    </p>
                                    <p class="description">
                                        <span class="contact-form-icon fa fa-mobile-phone"></span>
                                        <span class="contact-form-info-text">{{- site.data.site.mobile -}}</span>
                                        <span class="contact-form-info-text">Call or text Pacific Standard Time</span>
                                    </p>
                                    <p class="description">
                                        <span class="contact-form-icon fa fa-envelope"></span>
                                        <span class="contact-form-info-text">{{- site.data.site.email -}}</span>
                                    </p>
                                    <p class="description">
                                        Location: Washington, USA
                                    </p>
                                </div>
                            </div>


                            <input type="hidden" name="_pid" value="53751">
                            <input type="hidden" name="_fid" value="YEQE4514">
                            <input type="hidden" name="recipient" value="1">
                            <input type="hidden" name="subject" value="Message from ClassicAlfas.com">
                            <input type="hidden" name="redirect" value="https://www.classicalfas.com/message-received/">

                            <button type="submit" id="form-submit" class="btn btn-primary">{{- site.data.site.contact_form_button_text -}}</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
