<nav class="navbar navbar-default navbar-fixed-top">
<div class="container no-gutter">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand hidden-lg hidden-md visible-sm visible-xs" href="/">
            <img class="brand-logo" src="https://res.cloudinary.com/wesedholm/image/upload/v1542427583/assets/brand-logo.png"/>
            <!--<span class="brand-logo-text text-center">LOGO</span>-->
        </a>
        <button type="button" id="icon-transition" class="navbar-toggle toggle-menu menu-right" data-toggle="collapse" data-target="#navbar-right-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-right-collapse">
        <ul class="nav navbar-nav">
            <li class="navbar-menu">
                <a href="/">HOME</a>
            </li>

            <li class="navbar-menu">
                <a  href="#booth" class="navbar-link">RENTALS</a>
            </li>

            <li class="navbar-brand-logo" style="display: block">
                <a href="/">
                    <img src="https://res.cloudinary.com/wesedholm/image/upload/v1542427583/assets/brand-logo.png" class="brand-logo"/>
                </a>
            </li>

            <li class="navbar-menu">
                <a  href="#" class="navbar-link">PARTS</a>
            </li>

            <li class="navbar-menu">
                <a  href="#" class="navbar-link">CONTACT</a>
            </li>
        </ul>
    </div>
</div>
</nav>
