@import "main"

#news
  padding-top: 50px
  padding-bottom: 50px
  .content-container
    margin-top: 30px
    p
      text-align: left
      color: $default-color-text

.news-heading
  margin-top: 30px