<div class="parts-banner" style="background-image: url({{ site.data.site.news-banner-bg }})">
    <div class="bg-overlay"></div>
    <h2 class="banner">{{- page.title -}}</h2>
</div>
    
    <div class="container news-list-container">
        {% for offer in site.offers %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 news-list-item">
    
                <a class="news-list-link" href="{{ offer.url }}">
                    {%- include helpers/check_empty_string.html the_string = offer.image_small -%}
                    {%- if offer.image_small and string_not_empty -%}
                        {%- assign thumb_image = offer.image_small -%}
                    {%- else -%}
                        {%- assign thumb_image = offer.image_large -%}
                    {%- endif -%}
                    <div class="image-container">
                        <img src="{{ thumb_image }}" class="img-responsive center-block"/>
                    </div>
                    <div class="caption">
                        <p class="date">{{- offer.date | date: "%b %-d, %Y" -}}</p>
                        <h3 class="title">{{- offer.title -}}</h4>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>