{%- include partials/page-title.html type = 'page' -%}
    
<div class="container news-list-container">
    {%- assign offers = site.offers | sort: 'date' -%}
    {% for offer in offers reversed %}
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 news-list-item">

            <a class="news-list-link" href="{{ offer.url }}">
                {%- include helpers/check_empty_string.html the_string = offer.thumbnail -%}
                {%- if offer.thumbnail and string_not_empty -%}
                    {%- assign thumb_image = offer.thumbnail -%}
                {%- else -%}
                    {%- assign first_gallery_item = offer.items | first -%}
                    {%- assign thumb_image = first_gallery_item.large_image -%}
                {%- endif -%}
                <div class="image-container">
                    <img src="{{ thumb_image | relative_url }}" class="img-responsive center-block"/>
                </div>
                <div class="caption">
                    <p class="date">{{- offer.date | date: "%b %-d, %Y" -}}</p>
                    <h3 class="title">{{- offer.title -}}</h4>
                </div>
            </a>
        </div>
    {% endfor %}
</div>