---
layout: default
css: classic-auto-rental.css
title: Classic Auto Rental
javascript: >

---

{%- include partials/page-title.html type = 'page' -%}

<div class="container page-content page-markdown">

    <h2>{{- page.heading -}}</h2>
    
    <h3 class="oblique">{{- page.subheading -}}</h3>

    {%- if page.picture_frame -%}
        {%- include helpers/check_empty_string.html the_string = page.picture_frame -%}
        {%- if string_not_empty -%}
            <div class="centered mt-40">
                <div class="picture-frame">
                    <img src="{{- page.picture_frame -}}" alt="">
                </div>
            </div>
        {%- endif -%}
    {%- endif -%}

    {{ content }}
</div>