---
layout: default
css: classic-on-offer.css
javascript: >
    <script>
        
        $('.thumbnail').on('click', function(e){

            var $this = $(this);

            $('.thumbnail').removeClass('active');
            
            $this.addClass('active');

            $('#large-image').attr('src', $this.attr('href'));

            return false;
        });

    </script>
---

<div class="container gallery-wrapper">
    
    <h1>{{- page.title -}}</h1>

    <div class="gallery">

        <div class="col-md-8 img-wrapper">
            {%- assign first_item = page.items | first -%}
            <img id="large-image" src="{{- first_item.large_image | relative_url -}}" class="img-responsive" alt="Responsive image">
        </div>

        <div class="col-md-4">
            {%- for item in page.items -%}
                <div class="col-xs-3 col-md-6">
                    <a href="{{- item.large_image -}}" class="thumbnail {% if forloop.first %}active{% endif %}">
                        <img src="{{- item.thumbnail | relative_url -}}" alt="">
                    </a>
                </div>
            {%- endfor -%}
        </div>
        
    </div>

</div>

{%- include helpers/check_empty_string.html the_string = content -%}
{%- if string_not_empty -%}
    <div class="container page-content">
        {{ content }}
    </div>
{%- endif -%}