<div class="parts-banner" style="background-image: url({{ site.data.site.parts-banner-bg }})">
    <div class="bg-overlay"></div>
    <h2 class="banner">Classic Alpha Romeo Parts</h2>
    <span class="banner-sub-text">All prices include shipping within USA</span>
</div>

<div id="parts-list" class="container">
    <div class="menu-container visible-lg visible-md hidden-sm hidden-xs">
        <!--<input type="text" id="quicksearch1" class="quicksearch" placeholder="Search Name" />-->
        <fieldset class="filters-button-group hidden-xs">
            <button class="btn-isotope" data-filter="*">All</button>
            <button class="btn-isotope" data-filter=".giulia-sedan">Giulia Sedan</button>
            <button class="btn-isotope" data-filter=".spider">Spider</button>
            <button class="btn-isotope" data-filter=".spider">Sprint</button>
        </fieldset>
    </div>

    <div class="menu-container hidden-lg hidden-md">
        <div class="category-nav-mobile">
            <a href="#" id="category-button" data-toggle="collapse" data-target="#navbar-category-collapse">Filter Menu <span class="caret"></span></a>
        </div>
        <div class="full-width no-gutter collapse navbar-collapse" id="navbar-category-collapse">
            <!--<input type="text" id="quicksearch2" class="quicksearch" placeholder="Search" />-->
            <fieldset class="filters-button-group hiden-lg hidden-md hidden-sm visible-xs">
                <button class="btn-isotope" data-filter="*">All</button>
                <button class="btn-isotope" data-filter=".giulia-sedan">Giulia Sedan</button>
                <button class="btn-isotope" data-filter=".spider">Spider</button>
                <button class="btn-isotope" data-filter=".sprint">Sprint</button>
            </fieldset>
        </div>
    </div>

    <div class="container-fluid parts-list-container">
        <div class="grid">
            {% assign sorted-parts = site.data.parts %}
            {% for parts in sorted-parts %}
            <div class="col-lg-4 col-md-6 parts-image-item {{ parts.filter-model }}">
                <a class="parts-link" href="#">
                    <div class="parts-image-container">
                        <img src="{{ parts.image}}" class="img-responsive center-block"/>
                    </div>
                </a>
                <div class="parts-details">
                    <span class="parts-name">Part Name: {{ parts.name }}</span>
                    <span class="parts-model">Model: {{ parts.model }}</span>
                    <span class="parts-price">Price: ${{ parts.price }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="no-result">
            <h2 id="result-text">Sorry, no result found.</h2>
        </div>
    </div>
</div>