<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="author" content="{{ site.title }}">
  <meta name="description" content="{{ site.description }}">


  <!--<meta property="og:image" content="http://www.mypartypix.net/img/brand-logo.png">-->
  <!--<meta property="og:description" content="Fun . Loving . Memory">-->
  <!--<meta property="og:url" content="http://www.mypartypix.net/">-->
  <!--<meta property="og:title" content="MyPartyPix">-->

  <title>{{ site.title}} </title>
  <!--<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">-->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  {% if page.url == "/" %}
  <link rel="stylesheet" href="/css/home.css">
  {% else %}
  <link rel="stylesheet" href="/css/{{ layout.css }}">
  {% endif %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-69963339-12"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-69963339-12');
  </script>


</head>
<body>

{% include navbar.html %}
{{ content }}
{% include footer.html %}

<!-- Modal -->
<div class="modal fade" id="pageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="container">
    <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title text-center">Inquiries / Questions</h3>
      </div>
      <div class="modal-body">
        <div class="form-container clearfix">

          <form method="POST" action="http://fp1.formmail.com/cgi-bin/fm192">
            <div class="form-group form-left col-md-6 clearfix">

              <div class="col-xs-12 no-gutter">
                <input type="text" class="form-control form-input" id="sender-name" name="sender-name"  placeholder="Name" required>
              </div>

              <div class="col-xs-12 no-gutter">
                <input type="email" class="form-control form-input" id="sender-email" name="sender-email"  placeholder="Email Address" required>
              </div>

              <div class="col-xs-12 no-gutter">
                <input type="number" class="form-control form-input" id="sender-number" name="sender-number"  placeholder="Telephone/Mobile Number" required>
              </div>

              <div class="col-xs-12 no-gutter">
                <input type="text" class="form-control form-input" id="sender-best-time-contact" name="sender-best-time-contact"  placeholder="Best time to contact you" required>
              </div>

              <div class="col-xs-12 no-gutter">
                <label for="sender-text-selection">Okay to Text?</label>
                <select class="form-control form-input" id="sender-text-selection">
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </div>

              <div class="col-xs-12 no-gutter">
                <label for="sender-email-list-selection">Add me to the classicalfas.com email list!</label>
                <select class="form-control form-input" id="sender-email-list-selection">
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </div>
            </div>

            <div class="form-group form-right col-md-6 clearfix">
              <textarea class="text-area form-control" placeholder="Questions/Comments" id="sender-message" name="sender-message"  type="text" value="" rows="15" required></textarea>

              <div class="form-description">
                <p class="description">Thank you for contacting Classic Alfas. If you do not hear from us soon, please call/text to make sure we received your info.</p>
                <span class="number">Call/text: 360-317-6337 or 360-770-2279 (Pacific Standard Time)</span>
                <address class="address">Location: Washington, USA</address>
              </div>
            </div>


            <input type="hidden" name="_pid" value="53751">
            <input type="hidden" name="_fid" value="YEQE4514">
            <input type="hidden" name="recipient" value="1">
            <input type="hidden" name="subject" value="Message from ClassicAlfas.com">
            <input type="hidden" name="redirect" value="https://classic-alfas.github.io/message-received/">

            <button type="submit" id="form-submit" class="btn btn-primary">Submit</button>
          </form>

        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/modernizr.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
{{ layout.javascript }}


{% if page.url == '/' or page.url == 'index.html' %}
<script type="text/javascript">
    //on navbar scroll add brand logo
    $('.navbar-collapse a').click(function(){
        $(".navbar-collapse").collapse('hide');
    });

    $(function () {
        if( window.pageYOffset > 50 && $(document).width() >= 992){
            $('nav').addClass('navbar-shrink')
        } else if( window.pageYOffset < 50 && $(document).width() >= 992){
            $(window).scroll(function() {
                if ($(document).scrollTop() > 50 && $(document).width() >= 992 ) {
                    $('nav').addClass('navbar-shrink');
                } else {
                    $('nav').removeClass('navbar-shrink');
                }
            });
        }

        if($(document).width() <= 991 && window.pageYOffset > 50 || $(document).width() <= 991 && window.pageYOffset < 50 ){
            $('nav').addClass('navbar-shrink');

        }


        var contactMenu = $('.navbar-menu');
        contactMenu.on('click',function(){
            $('html, body').animate({
                scrollTop: $($(this).find('a.navbar-link').attr('href')).offset().top - 100
            }, 700);
            return false;
        });
    });
</script>
{% endif %}
</body>
</html>
