<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="author" content="{{ site.title }}">
  <meta name="description" content="{{ site.description }}">


  <!--<meta property="og:image" content="http://www.mypartypix.net/img/brand-logo.png">-->
  <!--<meta property="og:description" content="Fun . Loving . Memory">-->
  <!--<meta property="og:url" content="http://www.mypartypix.net/">-->
  <!--<meta property="og:title" content="MyPartyPix">-->

  <title>{{ site.title}} </title>
  <!--<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">-->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/news.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-69963339-12"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-69963339-12');
  </script>


</head>
<body>

{% include navbar.html %}
{% include news/content.html %}
{% include footer.html %}

<!-- Modal -->
{% include contact-modal.html %}
{% include mailing-modal.html %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/modernizr.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
{{ layout.javascript }}


{% if page.url == '/' or page.url == 'index.html' %}
<script type="text/javascript">
    //on navbar scroll add brand logo
    $('.navbar-collapse a').click(function(){
        $(".navbar-collapse").collapse('hide');
    });

    $(function () {
        if( window.pageYOffset > 50 && $(document).width() >= 992){
            $('nav').addClass('navbar-shrink')
        } else if( window.pageYOffset < 50 && $(document).width() >= 992){
            $(window).scroll(function() {
                if ($(document).scrollTop() > 50 && $(document).width() >= 992 ) {
                    $('nav').addClass('navbar-shrink');
                } else {
                    $('nav').removeClass('navbar-shrink');
                }
            });
        }

        if($(document).width() <= 991 && window.pageYOffset > 50 || $(document).width() <= 991 && window.pageYOffset < 50 ){
            $('nav').addClass('navbar-shrink');

        }


        var contactMenu = $('.navbar-menu');
        contactMenu.on('click',function(){
            $('html, body').animate({
                scrollTop: $($(this).find('a.navbar-link').attr('href')).offset().top - 100
            }, 700);
            return false;
        });
    });
</script>
{% endif %}
</body>
</html>
