<div class="container-fluid no-gutter">
    <!--<div class="col-md-6 left-section no-gutter">-->
        <!--<div class="map-section">-->
            <!--<div id="map"></div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="col-md-12 right-section">
        <div id="header-section">
            <header id="header">Contact Us</header>
        </div>
        <div id="contact-container">
            <ul>
                <li class="contact-list text-center">
                    <span id="icon-2" class="contact-icon fa fa-mobile-phone"></span>
                    <span class="contact-text">{{- site.data.config.contact.phone -}}</span>
                </li>
                <li class="contact-list text-center">
                    <span id="icon-2" class="contact-icon fa fa-mobile-phone"></span>
                    <span class="contact-text">{{- site.data.config.contact.mobile -}}</span>
                </li>
                <li class="contact-list text-center">
                    <span id="icon-3" class="contact-icon fa fa-envelope"></span>
                    <span class="contact-text">{{- site.data.config.contact.email -}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>