<div class="container">
    <div class="header-section">
        <header class="header">SHOP WITH ALFA ROMEO</header>
    </div>
    <div class="content-section clearfix">

        {% for service in site.data.service %}
        <div class="col-md-4">
            <img src="{{ service.image }}" class="image-section img-responsive center-block"/>
            <span class="title-section">{{ service.title }}</span>
            <span class="description-section">{{ service.description }}</span>

            <div class="service-button-container">
                <a class="service-button-link">{{ service.button }} <span class="service-button-icon fa fa-angle-right"></span></a>
            </div>
        </div>

        {% endfor %}
    </div>
</div>