<div class="content-section">
    <div class="bg-overlay"></div>
    <p class="intro-text">
        {{- site.data.config.mailing_list_form.home_page_text -}}
    </p>
    <a class="gallery-button" data-toggle="modal" data-target="#mailingModal">
        {{- site.data.config.mailing_list_form.home_page_button_text -}}
    </a>

    <p class="intro-text">
        SELL YOUR ALFA ON CLASSICALFAS.COM
    </p>
    <a class="gallery-button" data-toggle="modal" data-target="#mailingModal">
        Contact us for additional info
    </a>
</div>
