{%- include partials/page-title.html type = 'news_item' -%}

<section id="news">
    <div class="container">
        {%- include helpers/check_empty_string.html the_string = page.image_large -%}
        {%- if page.image_large and string_not_empty -%}
            <div class="image-container">
                <img src="{{ page.image_large | relative_url }}" class="center-block img-responsive"/>
            </div>
        {%- endif -%}
        <div class="content-container mt-0">
            {{ content }}
        </div>
    </div>
</section>